<function tabulate-data title rows>
  <show when="!isempty(rows)">
    <div class="p-2">
      <div class="text-xs font-bold uppercase text-white/60">
        <julia value="title" />
      </div>
      <table class="my-1">
        <for iter="rows" item>
          <tr class="font-mono text-xs font-bold text-white/80">
            <td class="px-1"><julia value="item.name" /></td>
            <td class="px-1">::</td>
            <td class="px-1"><julia value="item.type" /></td>
          </tr>
        </for>
      </table>
    </div>
  </show>
</function>
